.modal__title {
  margin: 8px 0 24px 0;
}

.modal__description {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10%;
  gap: 10px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal__button {
  position: relative;
  top: 32px;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  border: none;
  background: #000;
  color: #fff;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__button:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.modal__button:disabled:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.modal__input {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 1px solid #000;
}

.modal__input-title {
  margin: 0 0 8px 0;
}

.modal__radio-title {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

/* item */

/* delete */

/* .modal__close-button_delete {
  position: relative;
  bottom: 70%;
  cursor: pointer;
}

.modal__title_delete {
  display: flex;
  justify-content: center;
}

.delete_modal-text {
  position: relative;
  bottom: 60%;
}

.delete_btn-confirm {
  color: #ff4d00;
  background: none;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  position: relative;
  bottom: 60%;
  cursor: pointer;
}

.delete_btn-cancel {
  background: none;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  cursor: pointer;
} */

/* profile */
/* .modal__content_profile {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: 280px;
  width: 670px;
  position: fixed;
  top: 25%;
} */

/* .modal__close-button_profile {
  position: absolute;
  left: 7%;
  top: 0%;
} */

/* login */
/* .modal__content_login {
  width: 496px;
  height: 304px;
} */
